<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-system">
            <dt class="selected"><i class="Hui-iconfont">&#xe616;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block;">
                <ul>
                    <li><a _href="{:U('Admin/admin_list')}" data-title="员工列表" href="javascript:void(0)">员工列表</a></li>
                    <li><a _href="{:U('Admin/role_list')}" data-title="角色列表" href="javascript:void(0)">角色列表</a></li>
                    <li><a _href="{:U('Admin/power_cat_list')}" data-title="权限分类列表" href="javascript:void(0)">权限分类列表</a></li>
                    <li><a _href="{:U('Admin/power_list')}" data-title="权限列表" href="javascript:void(0)">权限列表</a></li>
                    <li><a _href="{:U('System/district_list')}" data-title="小区列表" href="javascript:void(0)">小区列表</a></li>
                    <li><a _href="{:U('System/area_list')}" data-title="片区列表" href="javascript:void(0)">片区列表</a></li>
                    <li><a _href="{:U('System/station_list')}" data-title="自提点列表" href="javascript:void(0)">自提点列表</a></li>
                    <li><a _href="{:U('System/region_list')}" data-title="行政区列表" href="javascript:void(0)">行政区列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-system">
            <dt class="selected"><i class="Hui-iconfont">&#xe616;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block;">
                <ul>
                    <li><a _href="{:U('User/user_list')}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-system">
            <dt class="selected"><i class="Hui-iconfont">&#xe616;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block;">
                <ul>
                    <li><a _href="{:U('Goods/goods_cat_list')}" data-title="商品分类列表" href="javascript:void(0)">商品分类列表</a></li>
                </ul>
                <ul>
                    <li><a _href="{:U('Goods/goods_origin_list')}" data-title="原子商品列表" href="javascript:void(0)">原子商品列表</a></li>
                </ul>
            </dd>

        </dl>
    </div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-system">
            <dt class="selected"><i class="Hui-iconfont">&#xe616;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block;">
                <ul>
                    <li><a _href="{:U('Order/order_list_unchecked')}" data-title="未审核订单" href="javascript:void(0)">未审核订单</a></li>
                </ul>
                <ul>
                    <li><a _href="{:U('Order/order_list_checked')}" data-title="已审核订单" href="javascript:void(0)">已审核订单</a></li>
                </ul>
                <ul>
                    <li><a _href="{:U('Order/order_list_unalloted')}" data-title="待配货订单" href="javascript:void(0)">待配货订单</a></li>
                </ul>
                <ul>
                    <li><a _href="{:U('Order/order_list_alloted')}" data-title="待发货订单" href="javascript:void(0)">待发货订单</a></li>
                </ul>
                <ul>
                    <li><a _href="{:U('Order/order_offline')}" data-title="线下加单" href="javascript:void(0)">线下加单</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-system">
            <dt class="selected"><i class="Hui-iconfont">&#xe616;</i> 活动管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block;">
                <ul>
                    <li><a _href="{:U('Activity/activity_list')}" data-title="活动列表" href="javascript:void(0)">活动列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

</aside>